<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{site/index.html}"
>
  <head>
    <title>Change Password</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row tm-mb-50">
        <div class="col-lg-4 col-12 mb-5 offset-lg-4">
          <h2 class="tm-text-primary mb-5 text-center">Change Password</h2>
          <div th:if="${message != null}">
            <div class="alert alert-danger mt-2" th:text="${message}"></div>
          </div>
          <form th:action="@{/site/account/change-password}" method="post">
            <div class="form-group">
              <label for="oldPassword">Old Password:</label>
              <input
                type="password"
                class="form-control"
                id="oldPassword"
                name="oldPassword"
                placeholder="Password old..."
                required
              />
            </div>
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Password new..."
                required
              />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm new password:</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm password..."
                required
              />
            </div>
            <button type="submit" class="form-control btn btn-primary">
              Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
